<?xml version="1.0"?>
<model>
  <name>Leonardo 2 - arena di volo per test</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Salvatore Marcellini</name>
    <email>salvatore.marcellini@gmail.com</email>
  </author>

  <description>
    Flight arena for the second Leonardo drone racing challenge tests - september 2021
  </description>

</model>
