<launch>

<arg name="aruco_markerSize" default="0.19" /> <!-- in meter -->
  <arg name="aruco_ref_frame" default="/axis_camera" /> <!-- leave empty and the pose will be published wrt param parent_name -->
  <arg name="aruco_camera_frame" default="/axis_camera" />

  <node pkg="aruco_ros" type="marker_publisher" name="aruco_marker_publisher">
          <remap from="/camera_info" to="/axis/camera_info" />
          <remap from="/image" to="/axis/image_raw/compressed" />
          <param name="image_is_rectified" value="True"/>
          <param name="marker_size" value="$(arg aruco_markerSize)"/>
          <param name="reference_frame" value="$(arg aruco_ref_frame)"/>  <!--frame in which the marker pose will be refered -->
          <param name="camera_frame" value="$(arg aruco_camera_frame)"/>
  </node>

</launch>