<launch>
   <param name="robot_description" command="$(find xacro)/xacro '$(find leonardo_2)/models/iris_urdf/iris.xacro' use_nominal_extrinsics:=true add_plug:=false" />
   <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
   <!--
   <arg name="gui" default="True" />
   <param name="use_gui" value="$(arg gui)" />
   <node name="rviz" pkg="rviz" type="rviz" />
   -->
   <arg name="x" default="0.5"/>
   <arg name="y" default="3.5"/>
   <arg name="z" default="0.15"/>
   <arg name="R" default="0"/>
   <arg name="P" default="0"/>
   <arg name="Y" default="0"/>

   <arg name="gui" default="true"/>
   <arg name="debug" default="false"/>
   <arg name="verbose" default="true"/>
   <arg name="paused" default="false"/>
   <arg name="respawn_gazebo" default="false"/>
   <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="gui" value="$(arg gui)"/>
      <arg name="debug" value="$(arg debug)"/>
      <arg name="verbose" value="$(arg verbose)"/>
      <arg name="paused" value="$(arg paused)"/>
      <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
   </include>

   <param name="iris_description" textfile="$(find leonardo_2)/models/iris_urdf/iris.sdf" />
   <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen" args="-param robot_description -urdf -model iris"/>

</launch>