<?xml version="1.0"?>
<model>
  <name>Finto roomba per test</name>
  <version>1.0</version>
  <urdf>roomba.urdf.xacro</urdf>

  <author>
    <name>Salvatore Marcellini</name>
    <email>salvatore.marcellini@gmail.com</email>
  </author>

  <description>
    Finto roomba per test intruso
  </description>

</model>